#white0{
            
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
}
#white1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    
    
}
#white2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    
}
#white3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    
    
}
#white4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    
}
#grey0{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
    display: none;
}
#grey1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    display: none;
    
    
}
#grey2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    display: none;
    
}
#grey3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    display: none;
    
}
#grey4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    display: none;
    
}
#black0{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
    display: none;
}
#black1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    display: none;
    
    
}
#black2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    display: none;
    
}
#black3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    display: none;
    
}
#black4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    display: none;
    
}

#arrow01{

    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:150px; 
    display: none;
    
    
}

#arrow02{
    height: 275px;
    position: absolute;
    top: 67px;
    left:130px; 
    display: none;
    
}

#arrow03{
    
    height: 275px;
    position: absolute;
    top: 67px;
    left:45px; 
    display: none;
   
}

#arrow04{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:50px; 
    display: none;
    
}
#arrow10{
    width:50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:150px;
    display: none;
     
}

#arrow12{

    height: 150px;
    position: absolute;
    top: 200px;
    left:210px; 
    display: none;
}

#arrow13{
    width:150px;
    height: 150px;
    position: absolute;
    top: 200px;
    left:50px; 
    display: none;
    
}

#arrow14{
    width: 130px;
    height: 10px;
    position: absolute;
    top: 170px;
    left:60px; 
    display: none;
    
}

#arrow20{

    height: 275px;
    position: absolute;
    top: 70px;
    left:125px; 
    display: none;
}

#arrow21{

    width: 10px;
    height: 130px;
    position: absolute;
    top: 210px;
    left:210px; 
    display: none;
    
}
#arrow23{

    width: 130px;
    position: absolute;
    top: 370px;
    left:60px; 
    display: none;
}

#arrow24{

    width: 145px;
    position: absolute;
    top: 180px;
    left:60px; 
    display: none;
}
#arrow30{

    height:275px;
    position: absolute;
    top: 70px;
    left:40px;
    display: none;
}
#arrow31{
    width: 150px;
    height:150px;
    position: absolute;
    top: 200px;
    left: 45px; 
    display: none;
    
}

#arrow32{
    width: 130px;
    height:10px;
    position: absolute;
    top: 370px;
    left:60px; 
    display: none;
    
}
#arrow34{

    height:150px;
    position: absolute;
    top: 200px;
    left:30px; 
    display: none;
}

#arrow40{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:50px; 
    
}
#arrow41{
    width: 130px;
    height:10px;
    position: absolute;
    top: 180px;
    left:60px; 
    
}

#arrow42{
    width: 150px;
    height:150px;
    position: absolute;
    top: 200px;
    left:50px; 
    
}
#arrow43{
    height:150px;
    position: absolute;
    top: 200px;
    left:30px; 
    
}


.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }