@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../../assets/grid.png") #2b3443 ;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 70px 80px rgb(0 0 0 / 21%);
}

/* =============  Scrollbar  ============= */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: white;
}



#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#header {
  width: 1400px;
  margin-top: 1rem;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Poppins', sans-serif;
  backdrop-filter: blur(8px);
}
#header a {
  text-decoration: none;
  
}
#title {
  text-align: center;
  font-size: 1.5rem;
  /* color: rgb(90, 0, 90) ; */
  color: rgb(244, 244, 244);
  padding: 1rem 0;
  font-weight: bold;
}

#container {
  display: flex;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.algo-container {
  width: 40rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Poppins', sans-serif;
  backdrop-filter: blur(5px);
}

/* .imageContainer:hover img{
  scale: calc(105%);
  transition: all 0.3s ease-in-out;
} */

.image {
  width: 100%;
  height: 13rem !important;
  border-radius: 5px;
}


.algo-container a {
  text-decoration: none;
  color: #dcebff;
  font-size: 20px;
  margin: 0;
}
.algo-container a .description {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.062);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Poppins', sans-serif;
  backdrop-filter: blur(5px);
  
  padding: 1rem;
}
.algo-container a .description p:nth-child(1) {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
}
.algo-container a .description p:nth-child(2) {
  font-size: 0.8rem;
}

@media (max-width: 1050px) {
  #container {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  #header {
    width: 95%;
  }
  
}




#white0{
            
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
}
#white1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    
    
}
#white2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    
}
#white3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    
    
}
#white4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    
}
#grey0{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
    display: none;
}
#grey1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    display: none;
    
    
}
#grey2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    display: none;
    
}
#grey3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    display: none;
    
}
#grey4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    display: none;
    
}
#black0{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left:100px;
    display: none;
}
#black1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:190px;
    display: none;
    
    
}
#black2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 190px;
    display: none;
    
}
#black3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left:10px;
    display: none;
    
}
#black4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left:10px;
    display: none;
    
}

#arrow01{

    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:145px; 
    display: none;
    
    
}

#arrow02{
    height: 275px;
    position: absolute;
    top: 67px;
    left:133px; 
    display: none;
    
}

#arrow03{
    
    height: 275px;
    position: absolute;
    top: 67px;
    left:45px; 
    display: none;
   
}

#arrow04{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:55px; 
    display: none;
    
}
#arrow10{
    width:50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:155px;
    display: none;
     
}

#arrow12{

    height: 150px;
    position: absolute;
    top: 200px;
    left:212px; 
    display: none;
}

#arrow13{
    width:150px;
    height: 150px;
    position: absolute;
    top: 205px;
    left:50px; 
    display: none;
    
}

#arrow14{
    width: 130px;
    height: 10px;
    position: absolute;
    top: 170px;
    left:60px; 
    display: none;
    
}

#arrow20{

    height: 275px;
    position: absolute;
    top: 70px;
    left:123px; 
    display: none;
}

#arrow21{

    height: 150px;
    position: absolute;
    top: 200px;
    left:220px; 
    display: none;
    
}
#arrow23{

    width: 130px;
    position: absolute;
    top: 375px;
    left:60px; 
    display: none;
}

#arrow24{

    height: 150px;
    width: 150px;
    position: absolute;
    top: 194px;
    left:60px; 
    display: none;
}
#arrow30{

    height:275px;
    position: absolute;
    top: 70px;
    left:35px;
    display: none;
}
#arrow31{
    width: 150px;
    height:150px;
    position: absolute;
    top: 200px;
    left: 45px; 
    display: none;
    
}

#arrow32{
    width: 130px;
    height:10px;
    position: absolute;
    top: 365px;
    left:60px; 
    display: none;
    
}
#arrow34{

    height:150px;
    position: absolute;
    top: 200px;
    left:30px; 
    display: none;
}

#arrow40{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left:45px;
    display: none; 
    
}
#arrow41{
    width: 130px;
    height:10px;
    position: absolute;
    top: 180px;
    left:60px; 
    display: none;
}

#arrow42{
    width: 150px;
    height:150px;
    position: absolute;
    top: 200px;
    left:50px; 
    display: none;
}
#arrow43{
    height:150px;
    position: absolute;
    top: 200px;
    left:20px; 
    display: none;
}


.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .button {
    background-color: #434b43; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }